
@{
    ViewBag.Title = "ChangePaasword";
    Layout = "~/Views/Shared/adminlayout.cshtml";
}

<h2>ChangePaasword</h2>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
<form method="post" >
    Old Password:
    <input type="password" placeholder="Enter Your Password" name="oldpwd" class="form-control" /><br />
    New Password:
    <input type="password" placeholder="Enter Your Password" name="newpwd" class="form-control"/><br />
    Confrim Password:
    <input type="password" placeholder="Enter Your Password" name="conpwd"class="form-control" /><br />
</form></div>
    </div>

