
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/adminlayout.cshtml";
}

<h2>Product</h2>
<div class="row">
    <form method="post" enctype="multipart/form-data">
        <div class="col-lg-6">
            Choose category
            <select class="form-control name=" pcat"">
               



            </select>
            <br />
            Choose Subcategory
            <select class="form-control" name="psubcat">
                @{
                    if (ViewBag.subcat != null)
                    {
                        foreach (var data in ViewBag.subcat.Rows)
                        {
                            <option value="@data[0]"> @data[1]</option>
                        }
                    }
                }



            </select>
            <br />
            Product Name
            <input type="text" name="pname" class="form-control" /> <br />
            Product Details
            <textarea class="form-control" name="pdesc"></textarea> <br />
            Model
            <input type="text" name="pmodel" class="form-control" /> <br />
            Pack Size
            <input type="text" name="psize" class="form-control" /> <br />
            Sale Rate
            <input type="number" name="psalerate" class="form-control" /> <br />
            MRP
            <input type="number" name="pmrp" class="form-control" /><br />
            Choose Pic
            <input type="file" name="picon" class="form-control" /> <br />
            <input type="submit" value="Add Product Now" class="border-2 bg-mycolor rounded-2" />
        </div>
    </form>
    <!--STARTING OF TABLE-->
    <DIV class="COL-SM-7 MT-5 card text-center">
        <div class="card">
            <table class="table table-bordered table-striped" >
                <thead>
                    <tr>
                        <th>S No.</th>
                    <th></th>
                        <th>Category Name</th>
                        <th>Subcategory Name</th>
                         <th>Product Name</th>
                        <th>Product Deatil</th>
                        <th>Product Model</th>
                        <th>Pack</th>
                        <th>Salerate</th>
                        <th>MRP</th>
                        <th>Product Pic</th>
                        <th>Date</th>
                    </tr>
                </thead>
            </table>
        </div>
    </DIV>
</div>
