
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/generallayout.cshtml";
}

<h2>Product</h2>
<div class="row">
    <form method="post" enctype="multipart/form-data">
        <div class="col-lg-6">
            Choose category
            <select class="form-control name=">
                <option>a</option>
                <option>a</option>
                <option>a</option>
                <option>a</option>
                <option>a</option>



            </select>
            <br />
            Choose Subcategory
            <select class="form-control">
                <option>a</option>
                <option>a</option>
                <option>a</option>
                <option>a</option>
                <option>a</option>



            </select>
            <br />
            Product Name
            <input type="text" name="pname" class="form-control" /> <br />
            Product Details
            <textarea class="form-control" name="pdetails"></textarea> <br />
            Model
            <input type="text" name="model" class="form-control" /> <br />
            Pack Size
            <input type="text" name="psize" class="form-control" /> <br />
            Sale Rate
            <input type="number" name="srate" class="form-control" /> <br />
            MRP
            <input type="number" name="mrp" class="form-control" /><br />
            Choose Pic
            <input type="file" name="choosepic" class="form-control" /> <br />
            <input type="submit" value="Add Product Now" class="border-2 bg-mycolor rounded-2" />
        </div>
    </form>
</div>

